.Dropdown{
	max-height:0;
	overflow:hidden;
	transition:max-height 0.2s ease-out;
}
#cosmeticTab:hover #cosmeticDrop{
	max-height:1500px;
	transition: max-height 0.2s ease-in;
}
#prevTab:hover #prevDrop{
	max-height:1500px;
	transition: max-height 0.2s ease-in;
}
#opTab:hover #opDrop{
	max-height:1500px;
	transition: max-height 0.2s ease-in;
}
#headTable{
	width: 100%;
	background-color:green;
	margin: 0;
	padding: 0;
	border: 0;
	max-width:none;
}
/*Body Text*/
h4{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 110%;
	text-align:left;
}
.keepSquare{
	height:auto;
	width:100%;
	padding-bottom:20%;
}

#IntroPictureBox{
	
}
#footer{
	width: 100%;
	margin: 0 auto;
}
#footer tr td{
	width: 25%;
}
.headerButton{
	min-width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:130%;
}
.procedures{
	width:80%;
	margin: 0 auto;
}
#bottom_footer{
	margin: auto;
}
header{
	width: 100%;
	position: fixed;
	margin: 0;
	border: 0;
}

#introTable{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#introText{
	padding-bottom:20%;
}
#logoCell{
	
}
body{
	margin:0;

}
html{
	margin:0;
}
table{
	border-style: solid;
	border-width: 1px;
	max-width:1100px;
	min-width:;
}
h1{

}
td{

	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax__layer{
	position: absolute;
	top:10px;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base{
	transform: translateZ(0);
}
/* scale caluclated by 1+(translateZ*-1)/perspective */

.parallax__layer--back{
	transform: translateZ(-1px) scale(2);
	
}

.parallax__layer--deep{
	transform: translateZ(-10px) scale (1);
}
.parallax__group{
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}
