a{
	text-decoration:none;
	color: #3d2e26;

}
a:hover{
	color:#4a5548;
	text-decoration:underline;
}
body{
	margin:auto auto;
	min-width:800px;
}
.BodyElement{
	padding-left:17%;
	padding-right:15%;
}
.contact{

}
#copyFooter{
	margin: auto;
}
#diagTab{
}
#divUnder{
	padding-top:40px;
	
}
.Dropdown{
	list-style-type:none;
	max-height:0;
	overflow:hidden;
	transition:max-height 0.4s ease-out;
}
.Dropdown:hover{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#footer{
	position:absolute;
	background-color:#3d2e26;
	width: 100%;
	bottom:0px;
}
.footerTable{
	margin-left:auto;
	margin-right:auto;
	color:#ecf2f2;
}

.footerButton a{
	color:#ecf2f2;
}
#footer table tr td{
	width: 25%;
}
h4{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 110%;
	text-align:left;
}
header{
	width: 100%;
	position: fixed;

}
.headerButton{
	min-width:150px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:130%;
}
#headTable{
	width: 100%;
	color:#ecf2f2;
	background-color:#4a5548;
	max-width:none;
	margin: 0px 0px;
	position:fixed;
	padding-right:10%;
}
#headTable a{
	color:#ecf2f2;
}
#headTable a:hover{
	color:#badaeb;
}
html{
	background-color:#ecf2f2;
	margin:0px;

}
.icon{
	width: 55px;
}
#index{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-variant:small-caps;
	height:auto;
	width:auto;
	margin:auto auto;
}
#introCell{
	color:white;
	font-size:5em;
	width:100%;
	padding:1% 1%;
	display:table-cell;
	vertical-align:middle;
	margin-top:5%;
}
#IntroPicture{
	padding-top:20px;
}
#introTable{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	min-height:400px;
	height:100%;
	text-align: center;
	background-color:transparent;

}
#introText{
	text-align:left;
	padding-left:6%;
	padding-right:3%;
	margin-top:250px;
}
#introUnder{

	background-image:url("../images/cropped2.jpg");
	background-size:100%;
	background-position:;left top;
	background-repeat:no-repeat;
	margin-top:48px;
}
.keepSquare{
	height:auto;
	width:100%;
	padding-bottom:20%;
}
.left_justify{
	text-align:left;
}
#logoCell{
	padding-left:15%;
}

.PageTitle{
	padding-left:17%;
	
}
.procedures{
	width:80%;
	margin: 0 auto;
}
#procList{
	list-style-type:none;
}

table{
	max-width:1100px;
	min-width:200px;
}
td{
	text-align: center;

}
ul{
	list-style: square inside url('images/bullet.png');
}

#welcomeList{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	font-size:150%;
	margin-top:3%;

}


/*
Tabs for test procedures
*/
#tab1:active #drop1{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab1:hover #drop1{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab2:active #drop2{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab2:hover #drop2{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab3:active #drop3{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab3:hover #drop3{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab4:active #drop4{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab4:hover #drop4{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab5:active #drop5{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab5:hover #drop5{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab6:active #drop6{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab6:hover #drop6{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab7:active #drop7{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
#tab7:hover #drop7{
	max-height:1500px;
	transition: max-height 0.4s ease-in;
}
