#index_bg{
	background-image:url("../images/cropped2.jpg");
	background-size:100%;
	background-repeat:no-repeat;
}
.page-container{
	max-width:1600px;
	width: calc(100%-16px);
	margin: 0 auto;
}
.page-content{
	border-radius:2px;
	padding:80px 56px;
	margin-bottom:80px;

}

.margin_auto{
	margin: auto;
}
